
.depicter-revert .depicter-1-element-106{
	box-shadow:none;
	backdrop-filter:none;
	background-color:transparent;
}
.depicter-1-element-106 .depicter-timer-bar{
	background-color:#FA036B;
}
.depicter-revert .depicter-1-element-80{
	font-size:18px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:400;
	line-height:150%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-79{
	font-size:80px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-78{
	font-size:23px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-54{
	opacity:0.9;
}
.depicter-revert .depicter-1-element-56{
	background-color:#FFEABA;
	border-radius:50%;
}
.depicter-revert .depicter-1-section-50 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-93{
	font-size:18px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:400;
	line-height:150%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-92{
	font-size:80px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-91{
	font-size:23px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-90{
	background-color:#8FE1FF;
	border-radius:50%;
}
.depicter-revert .depicter-1-section-88 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-99{
	font-size:18px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:400;
	line-height:150%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-98{
	font-size:80px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-97{
	font-size:23px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-96{
	background-color:#ECCFFF;
	border-radius:50%;
}
.depicter-revert .depicter-1-section-94 .depicter-section-background{
	background-color:#FFFFFF;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-1-element-106{
	background-color:transparent;
}
.depicter-1-element-106 .depicter-timer-bar{
	background-color:#FA036B;
}
.depicter-revert .depicter-1-element-80{
	font-size:16px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:400;
	line-height:150%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-79{
	font-size:50px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-78{
	font-size:20px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-56{
	background-color:#FFEABA;
}
.depicter-revert .depicter-1-section-50 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-93{
	font-size:16px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:400;
	line-height:150%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-92{
	font-size:50px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-91{
	font-size:20px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-90{
	background-color:#FFEABA;
}
.depicter-revert .depicter-1-section-88 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-99{
	font-size:16px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:400;
	line-height:150%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-98{
	font-size:50px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-97{
	font-size:20px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-96{
	background-color:#FFEABA;
}
.depicter-revert .depicter-1-section-94 .depicter-section-background{
	background-color:#FFFFFF;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-1-element-106{
	background-color:transparent;
}
.depicter-1-element-106 .depicter-timer-bar{
	background-color:#FA036B;
}
.depicter-revert .depicter-1-element-80{
	font-size:15px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:400;
	line-height:150%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-79{
	font-size:40px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-78{
	font-size:20px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-56{
	background-color:#FFEABA;
}
.depicter-revert .depicter-1-section-50 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-93{
	font-size:15px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:400;
	line-height:150%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-92{
	font-size:40px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-91{
	font-size:20px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-90{
	background-color:#FFEABA;
}
.depicter-revert .depicter-1-section-88 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-99{
	font-size:15px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:400;
	line-height:150%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-98{
	font-size:40px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-97{
	font-size:20px;
	color:#002838;
	font-family:"Open Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-96{
	background-color:#FFEABA;
}
.depicter-revert .depicter-1-section-94 .depicter-section-background{
	background-color:#FFFFFF;
}

}
